@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-out forwards;
}

/* Scroll için Fade-Up */
.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease-out;
}

.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}
